<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">

            <!-- Company -->
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
                    <%= footerData.company.title %>
                </h4>

                <% footerData.company.links.forEach(link => { %>
                    <a class="btn btn-link" href="<%= link.url %>">
                        <%= link.name %>
                    </a>
                <% }) %>
            </div>

            <!-- Contact -->
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
                    <%= footerData.contact.title %>
                </h4>

                <p class="mb-2">
                    <i class="fa fa-map-marker-alt me-3"></i>
                    <%= footerData.contact.address %>
                </p>

                <p class="mb-2">
                    <i class="fa fa-phone-alt me-3"></i>
                    <%= footerData.contact.phone %>
                </p>

                <p class="mb-2">
                    <i class="fa fa-envelope me-3"></i>
                    <%= footerData.contact.email %>
                </p>

                <div class="d-flex pt-2">
                    <% footerData.contact.socials.forEach(social => { %>
                        <a class="btn btn-outline-light btn-social" href="<%= social.url %>">
                            <i class="<%= social.icon %>"></i>
                        </a>
                    <% }) %>
                </div>
            </div>

            <!-- Opening -->
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
                    <%= footerData.opening.title %>
                </h4>

                <h5 class="text-light fw-normal">
                    <%= footerData.opening.weekdays.days %>
                </h5>

                <p>
                    <%= footerData.opening.weekdays.time %>
                </p>

                <h5 class="text-light fw-normal">
                    <%= footerData.opening.sunday.days %>
                </h5>

                <p>
                    <%= footerData.opening.sunday.time %>
                </p>
            </div>

            <!-- Newsletter -->
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">
                    <%= footerData.newsletter.title %>
                </h4>

                <p><%= footerData.newsletter.description %></p>

                <div class="position-relative mx-auto footer-feedback-entry">
                    <input
                        class="form-control border-primary w-100 py-3 ps-4 pe-5"
                        type="text"
                        id="feedbackInput"
                        placeholder="<%= footerData.newsletter.placeholder %>"
                        readonly
                    >

                    <button
                        type="button"
                        class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
                        id="openFeedbackFormBtn"
                    >
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- Copyright -->
    <div class="container">
        <div class="copyright">
            <div class="row">

                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy;
                    <a class="border-bottom" href="#">
                        <%= footerData.copyright.website %>
                    </a>,
                    All Right Reserved.

                    Designed By
                    <a class="border-bottom" href="<%= footerData.copyright.designedByUrl %>">
                        <%= footerData.copyright.designedBy %>
                    </a>
                </div>

                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">

                        <% footerData.footerMenu.forEach(menu => { %>
                            <a href="<%= menu.url %>">
                                <%= menu.name %>
                            </a>
                        <% }) %>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<div class="background-dimmer" id="backgroundDimmer"></div>

<form class="feedback-form-container" id="feedbackForm" action="/testimonial" method="post">
    <h5 class="mb-3 text-dark"><%= footerData.feedbackModal.title %></h5>
    <% if (!userId) { %>
        <p class="text-muted mb-3"><%= footerData.feedbackModal.loginMessage %></p>
    <% } %>
    <textarea
        id="feedbackMessage"
        name="message"
        rows="5"
        placeholder="<%= footerData.feedbackModal.placeholder %>"
        required
    ></textarea>
    <small id="errorMessage" class="text-danger d-none"><%= footerData.feedbackModal.validationMessage %></small>
    <div class="d-flex justify-content-between gap-2">
        <button class="btn btn-secondary" type="button" id="closeFeedbackFormBtn"><%= footerData.feedbackModal.cancelButton %></button>
        <% if (userId) { %>
            <button class="btn btn-primary" type="submit"><%= footerData.feedbackModal.submitButton %></button>
        <% } else { %>
            <a class="btn btn-primary mt-2" href="/users/login"><%= footerData.feedbackModal.loginButton %></a>
        <% } %>
    </div>
</form>


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/success.js"></script>
<script src="/js/footer-feedback.js"></script>
