<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <%- include('config/export') %>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <div class="container-xxl position-relative p-0">
            <%- include('config/nav') %>
        </div>

        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown"><%= heroTitle %></h1>
            </div>
        </div>

        <div class="container-xxl py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form action="/users/forgot-password" method="post">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                                <label for="email">Email Address</label>
                            </div>
                            <button class="btn btn-primary w-100 py-3" type="submit">Send Reset Link</button>
                            <div class="text-center mt-3">
                                <a href="/users/login" class="text-primary">Back to login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('config/footer') %>
    </div>
</body>

</html>
