<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <%- include('config/export') %>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <div class="container-xxl position-relative p-0">
            <%- include('config/nav') %>
        </div>

        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown"><%= heroTitle %></h1>
            </div>
        </div>

        <div class="container-xxl py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form action="/users/reset-password/<%= token %>" method="post">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" name="password" placeholder="New Password" required minlength="6">
                                <label for="password">New Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required minlength="6">
                                <label for="confirmPassword">Confirm Password</label>
                            </div>
                            <button class="btn btn-primary w-100 py-3" type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('config/footer') %>
    </div>
</body>

</html>
